[Unit]
Description=Apache Hadoop YARN resource manager
After=network.target

[Service]
Type=forking
User=hadoop
Group=hadoop
ExecStart=/opt/hadoop/sbin/yarn-daemon.sh --config /opt/hadoop/etc/hadoop start resourcemanager
ExecStop=/opt/hadoop/sbin/yarn-daemon.sh --config /opt/hadoop/etc/hadoop stop resourcemanager

[Install]
WantedBy=multi-user.target