#!/bin/bash
HOSTIP=$(hostname -I | awk '{print $1}')
#
echo "deb http://90.147.77.142/repo/htcondor/ubuntu/previous/ trusty contrib" >> /etc/apt/sources.list
wget -qO - http://90.147.77.142/repo/htcondor/ubuntu/HTCondor-Release.gpg.key | apt-key add -
apt-get update
sleep 5
apt-get -y install condor
#
CUID=$(id condor | awk '{print $1}'| cut -d'=' -f2|cut -d'(' -f1)
CGID=$(id condor | awk '{print $2}'| cut -d'=' -f2|cut -d'(' -f1)
#
cat << EOF >/etc/condor/condor_config.local
## Taken from:  condor_config.local.dedicated.resource

SEC_DAEMON_AUTHENTICATION = required
SEC_DAEMON_INTEGRITY = required
SEC_DAEMON_AUTHENTICATION_METHODS = password
SEC_CLIENT_AUTHENTICATION_METHODS = password,fs,gsi,kerberos
SEC_PASSWORD_FILE = /etc/condor/condor_credential
SEC_ENABLE_MATCH_PASSWORD_AUTHENTICATION = True

CONDOR_HOST = %ipv4%
CONDOR_ADMIN = root@%ipv4%

# Preserve UID of submitting user
UID_DOMAIN = *
TRUST_UID_DOMAIN = True
SOFT_UID_DOMAIN = True

CONDOR_IDS = $CUID.$CGID
QUEUE_SUPER_USERS = root, condor
HIGHPORT = 42000
LOWPORT = 41000
NETWORK_INTERFACE = $HOSTIP
NO_DNS = True
DEFAULT_DOMAIN_NAME = INFN-PD

DedicatedScheduler = "DedicatedScheduler@"

## Always run jobs, but prefer dedicated ones
START           = True
SUSPEND = False
CONTINUE        = True
PREEMPT = False
KILL            = False
WANT_SUSPEND    = False
WANT_VACATE     = False
RANK            = Scheduler =?= \$(DedicatedScheduler)

# Advertise as a single slot, independently of the number of cores
SLOT_TYPE_1 = cpus=100%
NUM_SLOTS_TYPE_1 = 1

#  Settings you should leave alone, but that must be defined
MPI_CONDOR_RSH_PATH = \$(LIBEXEC)
CONDOR_SSHD = /usr/sbin/sshd
CONDOR_SSH_KEYGEN = /usr/bin/ssh-keygen
EOF

# Store credentials
/usr/sbin/condor_store_cred -p 12345 add -f /etc/condor/condor_credential

# Start condor
service condor start


## Templated configuration
SPARK_VERSION={{SPARK_VERSION}}
SPARK_HOME={{SPARK_HOME}}


if [[ ! -d $SPARK_HOME ]]
then
    echo "Downloading Spark"
    SPARK_URL=http://it.apache.contactlab.it/spark/spark-$SPARK_VERSION/spark-$SPARK_VERSION-bin-hadoop2.7.tgz
    curl -o /tmp/spark.tgz $SPARK_URL

    echo "Unpacking Spark"
    cd /opt
    tar xzvf /tmp/spark.tgz
    mv spark-$SPARK_VERSION-bin-hadoop2.7 spark
fi

chown -R spark:spark $SPARK_HOME

# Pull the configuration
apt install python-pip && pip install ansible
ansible-pull --private-key /home/ubuntu/.ssh/cloudveneto-machines.pem -U ubuntu@%ipv4%:/var/git/config.git -C master --accept-host-key --purge --full