#!/bin/bash
HOSTIP=$(hostname -I | awk '{print $1}')

# Dump the frontent IP in /etc/frontend-ip
echo %ipv4% > /etc/frontend-ip

#
echo "deb http://90.147.77.142/repo/htcondor/ubuntu/previous/ trusty contrib" >> /etc/apt/sources.list
wget -qO - http://90.147.77.142/repo/htcondor/ubuntu/HTCondor-Release.gpg.key | apt-key add -
apt-get update
sleep 5
apt-get -y install condor
#
CUID=$(id condor | awk '{print $1}'| cut -d'=' -f2|cut -d'(' -f1)
CGID=$(id condor | awk '{print $2}'| cut -d'=' -f2|cut -d'(' -f1)
#
cat << EOF >/etc/condor/condor_config.local
## Taken from:  condor_config.local.dedicated.resource

SEC_DAEMON_AUTHENTICATION = required
SEC_DAEMON_INTEGRITY = required
SEC_DAEMON_AUTHENTICATION_METHODS = password
SEC_CLIENT_AUTHENTICATION_METHODS = password,fs,gsi,kerberos
SEC_PASSWORD_FILE = /etc/condor/condor_credential
SEC_ENABLE_MATCH_PASSWORD_AUTHENTICATION = True

CONDOR_HOST = %ipv4%
CONDOR_ADMIN = root@%ipv4%

# Preserve UID of submitting user
UID_DOMAIN = *
TRUST_UID_DOMAIN = True
SOFT_UID_DOMAIN = True

CONDOR_IDS = $CUID.$CGID
QUEUE_SUPER_USERS = root, condor
HIGHPORT = 42000
LOWPORT = 41000
NETWORK_INTERFACE = $HOSTIP
NO_DNS = True
DEFAULT_DOMAIN_NAME = INFN-PD

DedicatedScheduler = "DedicatedScheduler@"

## Always run jobs, but prefer dedicated ones
START           = True
SUSPEND = False
CONTINUE        = True
PREEMPT = False
KILL            = False
WANT_SUSPEND    = False
WANT_VACATE     = False
RANK            = Scheduler =?= \$(DedicatedScheduler)

# Advertise as a single slot, independently of the number of cores
SLOT_TYPE_1 = cpus=100%
NUM_SLOTS_TYPE_1 = 1

#  Settings you should leave alone, but that must be defined
MPI_CONDOR_RSH_PATH = \$(LIBEXEC)
CONDOR_SSHD = /usr/sbin/sshd
CONDOR_SSH_KEYGEN = /usr/bin/ssh-keygen
EOF

# Store credentials
/usr/sbin/condor_store_cred -p 12345 add -f /etc/condor/condor_credential

# Start condor
service condor start

# Setup with ansible
apt install python-pip virtualenv

virtualenv /var/ansible-virtualenv
source /var/ansible-virtualenv/bin/activate
pip install ansible
ansible-pull -U {{CONFIG_REPO}} -C master --accept-host-key --full --purge
deactivate

