#!/bin/bash
HOSTIP=$(hostname -I | awk '{print $1}')
#
echo "deb http://90.147.77.142/repo/htcondor/ubuntu/previous/ trusty contrib" >> /etc/apt/sources.list
wget -qO - http://90.147.77.142/repo/htcondor/ubuntu/HTCondor-Release.gpg.key | apt-key add -
apt-get update
sleep 5
apt-get -y install condor
#
CUID=$(id condor | awk '{print $1}'| cut -d'=' -f2|cut -d'(' -f1)
CGID=$(id condor | awk '{print $2}'| cut -d'=' -f2|cut -d'(' -f1)
#
cat << EOF >/etc/condor/condor_config.local
## Taken from:  condor_config.local.dedicated.resource

SEC_DAEMON_AUTHENTICATION = required
SEC_DAEMON_INTEGRITY = required
SEC_DAEMON_AUTHENTICATION_METHODS = password
SEC_CLIENT_AUTHENTICATION_METHODS = password,fs,gsi,kerberos
SEC_PASSWORD_FILE = /etc/condor/condor_credential
SEC_ENABLE_MATCH_PASSWORD_AUTHENTICATION = True

CONDOR_HOST = %ipv4%
CONDOR_ADMIN = root@%ipv4%

# Preserve UID of submitting user
UID_DOMAIN = *
TRUST_UID_DOMAIN = True
SOFT_UID_DOMAIN = True

CONDOR_IDS = $CUID.$CGID
QUEUE_SUPER_USERS = root, condor
HIGHPORT = 42000
LOWPORT = 41000
NETWORK_INTERFACE = $HOSTIP
NO_DNS = True
DEFAULT_DOMAIN_NAME = INFN-PD

DedicatedScheduler = "DedicatedScheduler@"

## Always run jobs, but prefer dedicated ones
START           = True
SUSPEND = False
CONTINUE        = True
PREEMPT = False
KILL            = False
WANT_SUSPEND    = False
WANT_VACATE     = False
RANK            = Scheduler =?= \$(DedicatedScheduler)

# Advertise as a single slot, independently of the number of cores
SLOT_TYPE_1 = cpus=100%
NUM_SLOTS_TYPE_1 = 1

#  Settings you should leave alone, but that must be defined
MPI_CONDOR_RSH_PATH = \$(LIBEXEC)
CONDOR_SSHD = /usr/sbin/sshd
CONDOR_SSH_KEYGEN = /usr/bin/ssh-keygen
EOF

# Store credentials
/usr/sbin/condor_store_cred -p 12345 add -f /etc/condor/condor_credential

# Start condor
service condor start

##########################################
##
## Setup Spark
##
##########################################

## Templated configuration
SPARK_VERSION={{SPARK_VERSION}}
SPARK_HOME={{SPARK_HOME}}

echo "Adding Spark group and user"
# Create a Spark user and a Spark group
groupadd spark
useradd -m -g spark spark
mkdir /home/spark/.ssh
chown spark:spark /home/spark/.ssh

cat<<EOF > /home/spark/.ssh/id_rsa
-----BEGIN RSA PRIVATE KEY-----
MIIEogIBAAKCAQEAtkIQwBLbpVdqOfmu74vWMm21UKNXOBBpOebCwC42cNm9d/T5
JTBWb6xzXbP5w5iIOtygHYNIqB9G2X1dp8Ilxxtpo+iSszJkWNS6jZZqwqiqe1g2
KOcTeVAv9k4jOWvS257ULtA9IYenQ3uvETtqzmVGKQCvs32eSPYPkyXwQTTUrMf/
KDsOnb4rS3Z6V/otBFe3KYK9EfRM8vka1Ato8O7FZcNCeaM3fZhItbttbtDX1Wxl
Kc7urclbTK3x46OfFGzsC17xKA6XJd8m93Ho7+HQl/TLFG2O94DbXqUOPGUSiyOX
tgfhZKcGcN3yuBYDzhUKSXaRwnlEZYULsWHBDQIDAQABAoIBABlmz8rVVgOPUWDP
KdB9Htdcbv7UJR3NO700KkR6rF/CGSQU4nyKZiGeWV3f7ZmTMrlxcmdqmr/DzC4X
yOvOpVFAwtJzYa7UASRYUb/WDP8gXtJeEv5UZmRsBqM/dK1WF8dANbZok3yO2YMQ
Q/AU5efqOYMRc2uCwILOuJD7oqaTqCbQ2qfw9rGTnLaHS1+Ybm3BIR9Gkm2dCIFb
oTc3z1JyAsfFttx9vN43h6Xhv+4GVuACHKYSjdMfdV6gqnXEsotrksoe28Hv7Ak2
nV514xkyoE58r4cEuq5L7ioQY6brVToNn3uIb/AxOR1zx3VcmbcR/RmiZEibvp8z
GlYCtskCgYEA4JmYCk1qsBWO4s49cf8VETGCu9QlD1+pJ+l4mvooieatsbWIpsnH
kQWdQekDcnTnZSUEEt+cs/GScBmbxlgZWtlGPAyLv2Xc38YtmECCflsDwC8EoUZV
JVJM/cwcEoT8tcc0ZLssjdNbecBZROB4xGIxiVP+ok/YvMxqjEQ/QScCgYEAz70P
SqbOY7rZZly2CVTO93Bpua65najkOcQos8opimQSZ8ajBQHZQgVIRe7tveIjKKGx
kOW2k5cgbVrssgHWmo0nvyN+jkgsR6AxoA+wpdtHhCF/RP/rojs+KqWwrXvoDMsH
iisCd5fDzjK1FZ9yOVIcrKK/IGlD5LvdaV2iZKsCgYAcWidAPa+XFNGZvfExv8KY
Dgjzzv7ypt/Cow1Pev69EbqhcUoTy+r+WpgUZubBfxJqyTZvb3znljonHoR0kFB7
EGx2ThsiCSjNssW0r4gJjVG24/iQp0E+WdpQO4DbsZ/5DnGFub8RFDo671YVhMSZ
/c9FB65gLPYuNxvIIyFdBwKBgFPDzjixziMUorjNxXE5y0KnB1qiA6J5CZ3pZOgq
KlntRCaoR++q8SnX626XizG3z6mAmZLtrZMRqzetJCga6afkJxTBgTRqEcDH7Xq3
GOmn48x5nVH7R85gyQ51RSqO/eC6tU2XTiVfAstQUwhnBK3sWDecYCj3iTLgNcVY
xjSFAoGAGsLVsH8BdtxNdeGGxv5w2EYAKtrzOrh25COSNVkdqyBcOQZEfAVv+Wtm
r8pkFngouNQSav6z831v0DFhQ52Y8UQ5PeXZcl63W5KHfIwIKedHstdzWpfcfmQN
IR7Oz7KYh0atiziZLNfHFB99I+mV0f8d9oiJoQDUyhsX73JOELM=
-----END RSA PRIVATE KEY-----
EOF
chown spark:spark /home/spark/.ssh/id_rsa
chmod 600 /home/spark/.ssh/id_rsa

cat<<EOF > /home/spark/.ssh/id_rsa.pub
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC2QhDAEtulV2o5+a7vi9YybbVQo1c4EGk55sLALjZw2b139PklMFZvrHNds/nDmIg63KAdg0ioH0bZfV2nwiXHG2mj6JKzMmRY1LqNlmrCqKp7WDYo5xN5UC/2TiM5a9LbntQu0D0hh6dDe68RO2rOZUYpAK+zfZ5I9g+TJfBBNNSsx/8oOw6dvitLdnpX+i0EV7cpgr0R9Ezy+RrUC2jw7sVlw0J5ozd9mEi1u21u0NfVbGUpzu6tyVtMrfHjo58UbOwLXvEoDpcl3yb3cejv4dCX9MsUbY73gNtepQ48ZRKLI5e2B+FkpwZw3fK4FgPOFQpJdpHCeURlhQuxYcEN Key for Spark to ssh into minions
EOF
chown spark:spark /home/spark/.ssh/id_rsa.pub
cat /home/spark/.ssh/id_rsa.pub > /home/spark/.ssh/authorized_keys


# Download spark
echo "Installing Java"
apt-get update
apt-get -y install openjdk-9-jdk-headless

if [[ ! -d $SPARK_HOME ]]
then
    echo "Downloading Spark"
    SPARK_URL=http://it.apache.contactlab.it/spark/spark-$SPARK_VERSION/spark-$SPARK_VERSION-bin-hadoop2.7.tgz
    curl -o /tmp/spark.tgz $SPARK_URL

    echo "Unpacking Spark"
    cd /opt
    tar xzvf /tmp/spark.tgz
    mv spark-$SPARK_VERSION-bin-hadoop2.7 spark
fi

chown -R spark:spark $SPARK_HOME

cat <<EOF > $SPARK_HOME/conf/spark-env.sh
SPARK_LOCAL_IP=$HOSTIP
SPARK_MASTER_HOST=%ipv4%
EOF
chmod +x $SPARK_HOME/conf/spark-env.sh

# Add the start-spark.sh script
cat <<EOF > $SPARK_HOME/sbin/start-spark-cluster.sh
#!/bin/bash

SPARK_HOME=$SPARK_HOME
SLAVES_FILE=\$SPARK_HOME/conf/slaves
MASTER_FILE=\$SPARK_HOME/conf/master
SPARK_SBIN=\$SPARK_HOME/sbin/

function print_slaves () {
  JOB_DESCRIPTION_FILE=\$1
  grep "^RemoteHosts" \$JOB_DESCRIPTION_FILE |\
      awk '{print \$3}' |\
      sed 's/"//g' |\
      tr ',' '\n' |\
      grep -o '[0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]' |\
      sed 's/-/./g' |\
      sort |\
      uniq
}

function print_master () {
  JOB_DESCRIPTION_FILE=\$1
  grep "^RemoteHost " \$JOB_DESCRIPTION_FILE |\
      awk '{print \$3}' |\
      sed 's/"//g' |\
      grep -o '[0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]' |\
      sed 's/-/./g' > /dev/null
  echo "pcceccarel"
}

function configure_cluster () {
  CONDOR_JOB_DESCRIPTION_FILE=\$1
  print_slaves \$CONDOR_JOB_DESCRIPTION_FILE > \$SLAVES_FILE
  print_master \$CONDOR_JOB_DESCRIPTION_FILE > \$MASTER_FILE
}

function is_spark_running () {
  MASTER=\$(print_master \$1)
  curl -s http://\$MASTER:6066/ > /dev/null
}

function restart_spark () {
  if is_spark_running \$1; then
    \$SPARK_SBIN/stop-all.sh
  fi
  \$SPARK_SBIN/start-all.sh
}

if [ -z \${_CONDOR_JOB_AD+x} ]
then
echo "You are not calling me from a Condor job"
exit 1
fi

configure_cluster \$_CONDOR_JOB_AD
restart_spark \$_CONDOR_JOB_AD
EOF
chmod +x $SPARK_HOME/sbin/start-spark-cluster.sh
